{% extends 'usersApp/base.html '%}
{% block content %}


        <div id="formulario" class="col-6" style="margin: 0 auto;">
            <h3 class="mb-4 mt-4">Register new User</h3>

           
            <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-success text-center">Register</button>
                </div>
                
            </form>

            <hr />
            
            <div class="text-center">
                <a href="/login">Sign In</a>
            </div>    
                
           
                
           
        </div>


{% endblock %}